@font-face {
  font-family: "iconfont"; /* Project id 2571759 */
  src: url('~@/static/font/iconfont.woff2?t=1622374820554') format('woff2'),
       url('~@/static/font/iconfont.woff?t=1622374820554') format('woff'),
       url('~@/static/font/iconfont.ttf?t=1622374820554') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixushang:before {
  content: "\e7ef";
}

.icon-paixuxia:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e601";
}

.icon-address:before {
  content: "\ea4f";
}

.icon--search1:before {
  content: "\e600";
}

